config MACH_MSM8X60_PRESTO
	depends on ARCH_MSM8X60
	default n
	bool "MSM8X60 PRESTO"
	select CUST_SKY_H
	select DEFINE_LIST_PRESTO
	help
	  Support for the Pantech MSM8x60 PRESTO project board.

if MACH_MSM8X60_PRESTO
config DEFINE_LIST_PRESTO
	bool
	default y
	select PANTECH
	select PANTECH_ATNT
	select PANTECH_PRESTO_BOARD
	select PANTECH_CAMERA
	select PANTECH_AUDIO_PRESTO_AUDIENCE2020
	select PANTECH_AUDIO_PRESTO_FAB2200
	select PANTECH_AUDIO_SUBCHIP_CAL_TOOL
	select PANTECH_WIFI_MMC
	select PANTECH_ERR_CRASH_LOGGING
	select PANTECH_PWR_ONOFF_REASON_CNT
	select SW_RESET
	select PANTECH_WDOG_WORKAROUND
	select PANTECH_EXT4_RO_REMOUNT_ON_EMERGENCY_RESET
	select SKY_SND_CTRL
	select SKY_MMC
	select BUG_FIX_LCD_YUV_REVERSE
	select PANTECH_KERNEL_FS_FIX
	select PANTECH_PRESTO_LEDS_PMIC
	select PANTECH_PRESTO_VIBRATOR_PATCH
	select FEATURE_SKY_PDL_DLOAD
endif

config PANTECH_PRESTO_BOARD
	bool "PANTECH_PRESTO_BOARD Configuration"

config PANTECH_AUDIO_PRESTO_AUDIENCE2020
	bool

config PANTECH_AUDIO_PRESTO_FAB2200
	bool

config PANTECH_AUDIO_SUBCHIP_CAL_TOOL
	bool

config PANTECH_PRESTO_LEDS_PMIC
	bool

config PANTECH_PRESTO_VIBRATOR_PATCH
	bool
