#
# Include the specific Kconfig file for Pantech boards
#

# PRESTO
source "arch/arm/mach-msm/pantech/presto/Kconfig"

config MACH_PANTECH_DUMMY
	depends on CUST_SKY_H
	bool "NONE (No device)"

config PANTECH
	bool "PANTECH Common Configuration"
	default y
	help
	  Use this config to add codes or avoid orphan codes, that's
	  not labeled with a: CONFIG or FEATURE

config PANTECH_ATNT
	bool
	help
	  Support PANTECH

config PANTECH_QUANTINA_BOARD
	bool "PANTECH_QUANTINA_BOARD Configuration"

config SKY_GSBI12_UART_CONSOLE
	bool "SKY_GSBI12_UART_CONSOLE Configuration"

config SKY_SND_CTRL
	bool

config SKY_SND_EXTAMP
	bool

config SKY_SND_MVS
	bool

config SKY_SND_VT_VOIP
	bool

config SKY_MMC
	bool "PANTECH MMC Configuration"

config PANTECH_WIFI_MMC
	bool

config SKY_WLAN_MMC
	bool

config PANTECH_ERR_CRASH_LOGGING
	bool "PANTECH_ERR_CRASH_LOGGING Configuration"

config PANTECH_PWR_ONOFF_REASON_CNT
	bool "PANTECH_PWR_ONOFF_REASON_CNT Configuration"

config SW_RESET
	bool "SW_RESET Configuration"
	depends on PANTECH_ERR_CRASH_LOGGING
	depends on PANTECH_PWR_ONOFF_REASON_CNT

config PANTECH_WDOG_WORKAROUND
	bool "PANTECH_WDOG_WORKAROUND Configuration"
	depends on SW_RESET

config PANTECH_EXT4_RO_REMOUNT_ON_EMERGENCY_RESET
	bool "SW_RESET Configuration"
	help
	  Add 4 new commands to the reboot system call, that do the same thing as the
	  RESTART, HALT, POWER_OFF, and RESTART2 commands, but also remount writable
	  filesystems as read-only just before doing what the command normally does.
	  Now that Android is using EXT4, and since we don't have a standard init
	  setup to unmount filesystems before rebooting, this allows the system to
	  reboot with clean filesystems, and also improves boot time as the journal
	  does not need to be replayed when mounting the filesystem.

config PANTECH_KERNEL_FS_FIX
	bool "The patch of EXT4 Jounaling problem"
	default n
	help
	  Patch kernel source.

config AVOID_COMPILE_ERRORS
	bool "Patch to avoid kernel compile errors"
	default n

config BUG_FIX_LCD_YUV_REVERSE
	bool

config F_SKYDISP_QBUG_FIX_BACKLIGHT
	bool

config F_SKYDISP_BOOT_LOGO_IN_KERNEL
	bool

config F_SKYDISP_LCD_RESET
	bool

config F_SKYDISP_LCD_FORCE_ONOFF
	bool

config F_SKYDISP_QBUG_FIX_MIPI_ERROR
	bool

config F_SKYDISP_FRAMEBUFFER_32
	bool

config F_SKYDISP_NO_CURSOR_IN_BOOT
	bool

config F_SKYDISP_HDMI_OPTION
	bool

config F_SKYDISP_USE_ASHMEM
	bool

config F_SKYDISP_FIX_OVERLAY_FLICKER
	bool

config F_SKYDISP_BEAM_ON_BUG_FIX
	bool

config F_SKYDISP_ICS_MSM_FB_ALIGNED_4K_PAGE_BOUNDARY
	bool

config FEATURE_SKY_PDL_DLOAD
	bool

comment "Continued the standard kernel"
